cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.0
dnspython==2.3.0
email-validator==1.3.1
google-api-core==2.11.0
google-api-python-client==2.74.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
httplib2==0.21.0
idna==3.4
oauth2client==4.1.3
phonenumbers==8.13.4
Plate==1.0.1
protobuf==4.21.12
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyparsing==3.0.9
Pyrogram==2.0.97
pyromod==2.0.0
PySocks==1.7.1
requests==2.28.2
rsa==4.9
six==1.16.0
sqlitedict==2.1.0
TgCrypto==1.2.5
uritemplate==4.1.1
urllib3==1.26.14
uvloop==0.17.0
